
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color:white;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    
}
.div_olhinhos{
    background-color:white;
}
.div_olhinhos h1{
    margin-top: 15px;
    font-size: 50px;
    text-align: center;
    font-family:'Lato';
    font-style: italic;
    
}
.div_olhinhos img{
    max-width: 90%;
    /* align-items: center; */
    display: block;
    margin: auto;
    margin-top: 35px ;
    border: 5px solid rgb(71, 112, 71);
    border-radius: 50px;
    /* border-radius: 100px; */
}
/*Menu dos sites*/
#logo{
    padding: 0px;
    width: 7%;
    /* height: 400px; */
    margin: auto 50px;
 

}
:root{
    --cor-primaria: white;
    --cor-hover: rgb(26, 54, 14);
    --cor-fundo: rgb(76, 124, 76);
}
nav{
    background-color: rgb(71, 112, 71);
    /* padding: 1px ; */
    cursor: pointer ;
    list-style: none;
    width: 100%;
}
.dp_menu{    
    display: flex;
    gap: 10%;
    align-items: center;
    /* margin-right: 10%; */
    justify-content:center;
    list-style: none;
    display: flex;
    font-size: 20px;
    background-color: var(--cor-fundo);
    border: none;
    justify-content: space-between;
    align-items: center;
    min-width: 30vw;
    /* width: 100vw; */
    padding-right:  5%;
    /* gap: 10%;
    margin-right: 100px; */
    border-bottom: 2px solid rgb(29, 53, 29);


}
.dp_menu ul{
    list-style-type: none;
    padding: 0;
}   
.dp_menu ul{
    background-color: var(--cor-fundo);
    
 }
.dp_menu ul li{
    display: inline;
    position: relative;
}
.dp_menu ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;

}
.dp_menu ul li a:hover{
    color: var(--cor-hover);

}

#estilizar{
    margin-right: 100px;
}

/* sub menu*/
.dp_menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    padding: 15px;

}
.dp_menu ul li:hover ul {
    display: block;
    
}
.dp_menu ul li:hover{
    color: var(--cor-hover);

}

.dp_menu ul ul {
    width: 200px;
    color: var(--cor-primaria);
}
.dp_menu ul ul li a {
    display: block;
}
/*Sobre os paragrafos e texto da pagina inicial (home)*/
.tex_pg_inicial h2{
    font-size: 25px;
    font-style:oblique ;
    font-weight: bolder;
}
.tex_pg_inicial p{
    font-size: 18px;
    text-align: justify;
}
.tex_pg_inicial{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.tex_pg_inicial h3{
    font-style:oblique ;
    font-weight: bolder;
    font-size: 23px;
    text-decoration: none;
    margin-bottom: 30px;
}

.tex_pg_inicial h3 a{
    text-decoration: none;
    color: rgb(71, 112, 71);
 
}

#abx_img{
    margin-top: 30px;
    font-size: 23px;

}


/* PAGINA PRODUTOS (LAVANDA) */
.caixaPai{
    display: flex;
    width: 100%;

}
.coluna{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 30px 50px;

    
    
}
.produto a{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: 500;
    color: black;
    gap: 10px;
    align-items: center;
    border: 1px solid rgb(187, 182, 175);
}
.produto img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 3px;

}
/* Pagina Lavanda*/
.lavanda h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-style: italic;

}
.lavanda img{
    max-width: 70%;
    width: 50%;
    /* align-items: center; */
    display: block;
    margin: auto;
    margin-top: 35px;
    border: 5px solid rgb(71, 112, 71);
    border-radius: 50px;

}
.lavanda h3{
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.lavanda p{
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
}
.lavanda h4{
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.lavanda li{
    margin-left: 30px;
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
}
/* Oleo de pimenta preta */
.pimenta h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-style: italic;

}
.pimenta img{
    max-width: 70%;
    width: 50%;
    /* align-items: center; */
    display: block;
    margin: auto;
    margin-top: 35px;
    border: 5px solid rgb(71, 112, 71);
    border-radius: 50px;

}
.pimenta h3{
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.pimenta p{
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
}
.pimenta h4{
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.pimenta li{
    margin-left: 30px;
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
}

/* oleo de melaleuca*/
.melaleuca h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-style: italic;

}
.melaleuca  img{
    max-width: 70%;
    width: 50%;
    /* align-items: center; */
    display: block;
    margin: auto;
    margin-top: 35px;
    border: 5px solid rgb(71, 112, 71);
    border-radius: 50px;

}
.melaleuca  h3{
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.melaleuca  p{
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
}
.melaleuca  h4{
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.melaleuca  li{
    margin-left: 30px;
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
}
/* oleo de amendoas doces*/
.amendoadoce h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-style: italic;

}
.amendoadoce img{
    max-width: 70%;
    width: 50%;
    object-fit: cover;
    /* align-items: center; */
    display: block;
    margin: auto;
    margin-top: 35px;
    border: 5px solid rgb(71, 112, 71);
    border-radius: 50px;

}
.amendoadoce  h3{
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.amendoadoce p{
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
}
.amendoadoce  h4{
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.amendoadoce  li{
    margin-left: 30px;
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
}


/*oleo de gergelim*/
.gergelim h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-style: italic;

}
.gergelim img{
    max-width: 70%;
    width: 45%;
    object-fit: cover;
    /* align-items: center; */
    display: block;
    margin: auto;
    margin-top: 35px;
    border: 5px solid rgb(71, 112, 71);
    border-radius: 50px;

}
.gergelim h3{
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.gergelim p{
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
}
.gergelim  h4{
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.gergelim  li{
    margin-left: 30px;
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
}

/* oleo de Jasmim*/
.jasmim h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    font-size: 40px;
    font-style: italic;

}
.jasmim img{
    max-width: 70%;
    width: 50%;
    object-fit: cover;
    /* align-items: center; */
    display: block;
    margin: auto;
    margin-top: 35px;
    border: 5px solid rgb(71, 112, 71);
    border-radius: 50px;
    

}
.jasmim h3{
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.jasmim p{
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
}
.jasmim  h4{
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}
.jasmim  li{
    margin-left: 30px;
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
}

/*Formulario*/
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(134, 203, 134);

}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color:rgb(76, 124, 76);
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h2{
    color: white;
    font-size: 1.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20x;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 20px;
}
form textarea{
    padding: 15px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 20px;
    transition: all 0.5s;

}
form textarea:focus{
    border-radius: 20px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid rgb(28, 48, 28);
    color: white;
    transition: all 1s;
    margin-bottom: 20px;

}
form button:hover{
    background-color:rgb(28, 48, 28) ;
    color: black;
    border-radius: 20px;
}
/*Pagina obrigado*/
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:rgb(28, 48, 28) ;
}