*{
    padding: 0;
    margin: 0;
    width: 100%;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(49, 130, 137);
    
}
h1{
    color: white;
    font-size: 35px;
    margin: 40px;
    text-align: center;

}
.centralizar{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(32, 86, 91);
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}
a:hover{
    color:rgb(52, 208, 222);
}